<body id="body">
  <h2 class="text-center mt-3">PROFILE</h2>

  <div class="container">
    <div class="row justify-content-center">
      <form #frm="ngForm" (ngSubmit)="updateProfile()" class="col-md-6">
        <div class="form-group">
          <label for="userid">USER-ID</label>
          <input type="text" class="form-control" id="userid" placeholder="your userid" disabled>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstname">FIRST-NAME</label>
            <input type="text" class="form-control" id="firstname" [(ngModel)]="user.firstname" name="txtfname"
              #firstname="ngModel" required>
          </div>
          <div class="form-group col-md-6">
            <label for="lastname">LAST-NAME</label>
            <input type="text" class="form-control" id="lastname" [(ngModel)]="user.lastname" name="txtlname"
              #lastname="ngModel" required>
          </div>
        </div>

        <div class="form-group">
          <label for="email">EMAIL</label>
          <input type="email" class="form-control" id="email" placeholder="sharonsony@gmail.com"
            [(ngModel)]="user.email" name="txtemail" #email="ngModel" disabled>
        </div>
        <div class="form-group">
          <label for="phonenumber">PHONE-NUMBER</label>
          <input type="text" class="form-control" id="phonenumber" placeholder="0000000000"
            [(ngModel)]="user.phoneNumber" name="txtnumber" #phoneNumber="ngModel" disabled>
        </div>

        <div class="row justify-content-around">
          <button type="submit" class="btn btn-primary">Update Profile</button>
          <button class="btn btn-primary">Delete Profile</button>
        </div>

      </form>
    </div>

  </div>
</body>