<div class="container">
  <h2 class="text-center">Passbook</h2>
  <br>
  <div class="row justify-content-center text-center">
    <!--
    <p>Search Form</p>
    <pre> date:<input [(ngModel)]="date":any placeholder="date"/></pre>
    <button (click)="showDetails()" class="btn btn-success">Search </button>
-->
    <form action="showDetails()" class="container">
      <div class="form-row">
        <div class="col">
          <p>Search transaction by Date: </p>
        </div>
        <div class="col">
          <input type="date" id="date search" class="form-control">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success">Search</button>
        </div>

      </div>
    </form>
    <table class="table">
      <tr>
        <th scope="col">Transaction Id</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Amount Balance</th>
        <th scope="col">Trans Date</th>
      </tr>
      <tr *ngFor="let transaction of transhistory ">
        <td>{{transaction.id||'xxxxxx'}}</td>
        <td>{{transaction.description||'reason'}}</td>
        <td>{{transaction.amount||0.00}}</td>
        <td>{{transaction.amountbalance||0.00}}</td>
        <td>{{transaction.date|| 'xx-xx-xxxx'}}</td>
      </tr>
    </table>
  </div>
</div>